.break-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  padding: 1rem;
  border: 5px solid moccasin;
  color: cornsilk;
  border-radius: 10px;
}

#break-label {
  margin: 0;
}

#break-label > h2 {
  margin: 0;
}